.cuisine {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  height: auto;
  padding-bottom: 6vh;
  gap: 20px;
  scrollbar-width: none;
}

.cuisine * {
  font-family: "Noto Sans", sans-serif;
}

.all-cuisines {
  padding-left: 3%;
  position: relative;
  top: 130px;
}

.cuisine-name {
  font-size: 2em;
  font-family: "Comfortaa", sans-serif;
  color: hsl(120, 17%, 50%);
  padding-bottom: 3vh;
}