/* .foodcard {
  position: relative;
  display: grid;
  color: #eeeeee;
  grid-template-columns: 170px 170px;
  background-color: #D3E4CD;
  border-radius: 50px;
  width: 50vh;
  transition: background-color 0.3s ease;
  height:18vh;
  box-sizing: border-box;
  /* padding: 5vh; */


.foodcard {
  display:grid;
  grid-template-columns: max-content max-content;
  column-gap: 15px;
  background-color: #D3E4CD;
  padding:15px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
  


.right {
  display:flex;
  flex-direction: column;
  align-items: first baseline;
}
  /* flex-basis: 100%; */


.left img {
  width:140px;
  height:130px;
  border-radius: 30px;
}

.foodname {
  font-size:3vh;
  padding: 0;
  /* flex-grow: 100%; */
}

.servings {
  font-size:2vh;
}

.price-quantity {
  font-size:2vh;
}

.price-quantity p{
  display: inline;
}

.foodcard:hover {
  background-color: #1a1a1b;
}

.foodcard *{
  color:hsl(120, 17%, 50%);
}