.foodcard {
  position: relative;
  display: grid;
  color: #eeeeee;
  grid-template-columns: 170px 170px;
  background-color: #D3E4CD;
  border-radius: 50px;
  width: 50vh;
  transition: background-color 0.3s ease;
  height:18vh;
  box-sizing: border-box;
  /* padding: 5vh; */
}

.foodcard:hover {
  background-color: #1a1a1b;
}
.foodcard img {
  width: 10.5em;
  height: 8.8em;
  border-radius: 25px;
}

.foodcard *{
  padding:0px;
  color:hsl(120, 17%, 50%);
}

.foodcard h1 {
  font-size: 1.2em;
}

.foodcard h2 {
  font-size: 1em;
}

.foodcard p {
  font-size: 0.8em;
}

