.Navbar {
  background-color: #1a1a1b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
