.navi-container {
  display: inline;
  transition: color 0.3s ease;
  /* text-align: center; */
  /* align-items: center; */
  align-content: center;
  box-sizing: border-box;
  height:8vh;
}

.navi {
  color:hsl(120, 17%, 50%);
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-size: 1.3em;
  text-decoration: none;  
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2vh;
  padding-right: 2vh;
}

 .navi-container:hover {
  background-color: #D3E4CD;
  text-decoration: none;
 }

 .navi:hover {
  text-decoration: none;
 }

 @media only screen and (max-width: 600px) {
  .navi {
    font-size:1em;
    padding-left: 0px;
    padding-right:0px;
  }

}