.searchbar input {
  background-color: #333;
  width: 25em;
  padding: 8px 12px;
  border-radius: 20px; /* Adjust the value to change the roundness */
  border: 1px solid #ccc;
  outline: none; /* Remove the default outline */
  transition: border-color 0.3s ease;
}

.searchbar input:focus {
  border-color: #6d965f;
}

@media only screen and (max-width: 700px) {
  .searchbar input {
    width: 13vh;
    height:5vh;
  }
}